<?xml version="1.0"?>
<launch>
    <group ns="NavigationSwitches">
        <param name="defaultSetting" type="bool" value="false"/>
        <param name="bIsSimulation" type="bool" value="false"/>
        <param name="bIsIntegralEnable" type="bool" value="true"/>
        <param name="bIsYawControlEnable" type="bool" value="false"/>
        <param name="bIsYawControlAlwaysAlign" type="bool" value="true"/>
        <param name="bIsYawControlEnableSearch" type="bool" value="false"/>
        <param name="bIsMPCEnable" type="bool" value="true"/>
        <param name="bIsLQREnable" type="bool" value="false"/>
        <param name="bIsKeepLanding" type="bool" value="true"/>
        <param name="bIsClearIntegratorError" type="bool" value="true"/>
        <param name="bIsEKFEnable" type="bool" value="false"/>
        <param name="cutoffThreshold" type="double" value="0.3"/>
        <param name="bIsDisarm" type="bool" value="true"/>
    </group>
    <group ns="KFParameters">
        <param name="defaultSetting" type="bool" value="false"/>
        <param name="sigma_ax" type="double" value="0.1"/>
        <param name="sigma_ay" type="double" value="0.1"/>
        <param name="sigma_GPSpx" type="double" value="0.3"/>
        <param name="sigma_GPSpy" type="double" value="0.3"/>
        <param name="sigma_GPSvx" type="double" value="0.18"/>
        <param name="sigma_GPSvy" type="double" value="0.18"/>
        <param name="sigma_Apriltagpx" type="double" value="0.1"/>
        <param name="sigma_Apriltagpy" type="double" value="0.1"/>
        <param name="nPred" type="int" value="10"/> <!-- orignal value 1, 5m/s target 3 -->
    </group>
    <group ns="EKFParameters">
        <param name="defaultSetting" type="bool" value="false"/>
        <param name="sigma_a" type="double" value="0.1"/>
        <param name="sigma_w" type="double" value="0.001"/>
        <param name="sigma_GPSpx" type="double" value="0.3"/>
        <param name="sigma_GPSpy" type="double" value="0.3"/>
        <param name="sigma_GPSvx" type="double" value="0.18"/>
        <param name="sigma_GPSvy" type="double" value="0.18"/>
        <param name="sigma_Apriltagpx" type="double" value="0.1"/>
        <param name="sigma_Apriltagpy" type="double" value="0.1"/>
        <param name="nPred" type="int" value="1"/> <!-- orignal value 1, 5m/s target 3 -->
    </group>
    <group ns="MPCParameters">
        <param name="defaultSetting" type="bool" value="false"/>
        <param name="P" type="double" value="12"/>
        <param name="M" type="double" value="5"/>
        <param name="q" type="double" value="0.99"/>
        <param name="kiPos" type="double" value="0.055"/> <!-- 5m/s target 0.08, with wind 0.16; No wind 0.03 -->
        <param name="kiVec" type="double" value="0"/>
        <param name="Qk" type="double" value="4"/> <!-- orignal value 7, 5m/s target 4 -->
        <param name="Qf" type="double" value="6"/> <!-- orignal value 10, 5m/s target 6 -->
        <param name="Qb" type="double" value="1.15"/>
    </group>
    <node name="navigation_node" pkg="navigation" type="navigation_node" output="screen" cwd="node">
    </node>
    <node name="rosbag_record" pkg="rosbag" type="record" args="-o /home/ubuntu/bagfiles/navigation /navigation/target_local_position /navigation/truck_local_position /navigation/fused_target_local_position /dji_sdk/local_position /dji_sdk/global_position /dji_sdk/attitude_quaternion /dji_sdk/velocity" >
    </node>
</launch>


<!-- the "default setting" element is to easily compare with the default setting. If it's true, then all the later setting is invalid -->
