<launch>
    <node name="target_tracking" pkg="target_tracking" type="target_tracking" output="screen" cwd="node">
    </node>
    <node name="rosbag_record_target_tracking" pkg="rosbag" type="record" args="-o /home/ubuntu/bagfiles/target_tracking /target_tracking/target_local_position /target_tracking/to_target_distance" >
    </node>
</launch>


